.icon-section h3{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  color: #003F4F;
}
.icon-section{
    margin-top: 50px;
}


.grid4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    
  }
  
 
  .column4 {
    flex: 25%;
    padding: 20px;
    text-align: center;
  }

  .column4 p{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    color: #003F4F;
  }
  

  @media screen and (max-width: 992px) {
    .column4 {
      flex: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .grid4 {
      flex-direction: column;
    }
  }

