.frequent1{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;

color: #003F4F;

}

.frequent2{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  
  color: #003F4F;
  
}

.line-1{


    height: 5px;
    background: #00EDF5;
    width:238px;
   
  
}

.solved-acord{

  background: #D8FBFF !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
text-align: left;
padding-left: 40px;


/* identical to box height */

margin-bottom: 25px;

color: #003F4F;

}

.accordion-item{
  border: none;
  width: 681px;
  
 
}

@media screen and (max-width: 992px) {
  .accordion-item{

    margin-top: 30px;
    width: 400px;

  }
}

.accordions{

  margin-left: 0px !important;
}

.padding-0{
  padding-right:80px;
  padding-left:0;
  margin-left: 0;
  margin-right:0;
}


 /*Seccion de los pasos*/
.stepcont{


  background-color: #003F4F;
  z-index: -100;
  position: relative;
 
}


/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  margin-top: 20px;
  list-style-type: none;
  color: #E4FCFF;
 
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100px;
}

#progressbar li:before {
 
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  font-size: 12px;
  
  color: #003F4F;
  background: white;
  border-radius: 25px;
  margin: 20px auto 10px auto;
  justify-content: center;
  font-family: Poppins,sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
  
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -49%;
  top: 35px;
  z-index: -1;

}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #2098ce;
  color: white;
}

.remark{

  font-weight: 700;
}

.steptext{

  margin-top: 60px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  font-family: Poppins,sans-serif;
}

.toptext{

  font-size: 25px;
  font-weight: 300;



}

.subtext{

  font-size:70;
  font-weight: 400;
}

.stepbutton{

  background: #D7FE34;
  width: 250.04px;
  height: 55px;
  border-radius: 0;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 45px;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 730px) {
  #progressbar li{

    font-size: 10px;
    padding: 2px;
  }
  .stepbutton{

    width: 135.04px;
    height: 50px;
    font-size: 13px;
    line-height: 40px;
  }
}


/*Seccion Why book a call*/


.col-md-6 {
  flex: 0 0 auto;
  width: 100%;
}
.leoimagen{
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 30px;
}
.whybook{
  background: #004B5F;
  padding-bottom: 100px;
}

.booktitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 72px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  margin-top: 178px;
  padding-top: 100px;
}

.booklist{

  margin-top: 63px;
  margin-bottom: 1rem;
  
}

.booklisttitle{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 27.43px;
  color: #D7FE34;
}

ol li::marker{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 90px;
  /* identical to box height */
  text-align: center;
  color: #D7FE34;
}



.bookpara{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: left;
color: #FFFFFF;
}




@media screen and (max-width: 730px) {
  .book_tcont{

     margin-left: 0;
  }

  .booktitle{
    margin-top: 0;
  }
}




.header {
  overflow: hidden;
  background-color: #0092b7;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  display: flex;
  justify-content: space-around;
}
.grid-text{
  font-size: 20px;
  text-align: center;
  color: #003F4F;
}

.wrapper img{
  display: flex;
  justify-content: center;
}
.screen {
	display: block;
	width: 300px;
	height: 350px;
	overflow: hidden;
	position: relative;
	border: 2px solid #b3b3b3;
	border-radius: 1px;
	margin: 0 auto;
}
.screen img {
	bottom: -480px;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:0;
  padding:0;
	-webkit-transition: top 11s;
	-moz-transition: top 11s;
	-ms-transition: top 11s;
	-o-transition: top 11s;
	transition: bottom 11s;
}
.screen:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
}

.wrap2{
  display: grid;
  grid-template-columns: auto auto;
}


.buttons{
  display: flex;
  justify-content: space-around;
}

.button1{
  color:#20290B;
  background-color: #D7FE34;
}

.button2{
  color:#20290B;
  background-color: #fff;
}



#showTerms {
  background-color: transparent;
  border-color: transparent;
  font-size: 0.9em;
  color: #003F4F;
  text-decoration: underline;
}

#showTerms :hover {

  color: #003f4f8b;
  text-decoration: underline;
}

.headerdesk {
  overflow: hidden;
  padding: 20px 10px;
  vertical-align: center;
  position: sticky;
}

.headerdesk a {
  float: left;
  color: #003F4F;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
}

.klaviyo_form_trigger {
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  font-size: 16px;
}

.klaviyo_form_trigger:hover {
  background-color: transparent;
}



.phone-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(179.7deg, #0092B7 35.73%, #00EDF5 142.11%);
  ;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(179.7deg, #0092B7 35.73%, #00EDF5 142.11%);
}
 


