.frequent1{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;

color: #003F4F;

}

.frequent2{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  
  color: #003F4F;
  
}

.line-1{


    height: 5px;
    background: #00EDF5;
    width:238px;
   
  
}

.solved-acord{

  background: #D8FBFF !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
text-align: left;
padding-left: 40px;


/* identical to box height */

margin-bottom: 25px;

color: #003F4F;

}

.accordion-item{
  border: none;
  width: 681px;
  
 
}

@media screen and (max-width: 992px) {
  .accordion-item{

    margin-top: 30px;
    width: 400px;

  }
}

.accordions{

  margin-left: 0px !important;
}

.padding-0{
  padding-right:80px;
  padding-left:0;
  margin-left: 0;
  margin-right:0;
}


 /*Seccion de los pasos*/
.stepcont{


  background-color: #003F4F;
  z-index: 0;
  position: relative;
 
}


/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  margin-top: 20px;
  list-style-type: none;
  color: #E4FCFF;
 
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;    
}

#progressbar li:before {
 
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  font-size: 12px;
  
  color: #003F4F;
  background: #E4FCFF;
  border-radius: 25px;
  margin: 20px auto 10px auto;
  justify-content: center;
  font-family: Poppins,sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
  
  content: '';
  width: 100%;
  height: 2px;
  background: #E4FCFF;
  position: absolute;
  left: -49%;
  top: 35px;
  z-index: -1;

}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #2098ce;
  color: white;
}

.remark{

  font-weight: 700;
}



.toptext{

  font-size: 25px;
  font-weight: 300;



}

.subtext{

  font-size:70;
  font-weight: 400;
}

.stepbutton{

  background: #D7FE34;
  height: 45px;
  border-radius: 0;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  justify-content: center;
  text-align: center;
}
.desktop-progress-text{
  padding-top: 50px;
}
@media screen and (max-width: 730px) {
  #progressbar li{

    font-size: 10px;
    padding: 2px;
  }
  .stepbutton{

    width: 180px;
    font-size: 13px;
    line-height: 30px;
    background: transparent;
    color: #D7FE34;
    border-color: #D7FE34;
  }
  .stepbutton:hover{
     color: #D7FE34;
  }
}


/*Seccion Why book a call*/


.col-md-6 {
  flex: 0 0 auto;
  width: 100%;
}
.leoimagen{
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 30px;
  display: block;
  margin-left: 0 auto;
}

#dotsyellow{
  margin-left: 40px;
}
.whybook{
  background: #004B5F;
  padding-bottom: 100px;
}

.booktitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 72px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  
  padding-top: 100px;
}

.booklist{

  margin-top: 63px;
  margin-bottom: 1rem;
  
}

.booklisttitle{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 27.43px;
  color: #D7FE34;
}

ol li::marker{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 90px;
  /* identical to box height */
  text-align: center;
  color: #D7FE34;
}



.bookpara{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: left;
color: #FFFFFF;
}

.vid-row{
  display: flex;
  justify-content: center;
}
.vid-video{
  width: 100%;
  height: auto;
}
.vid-col{
    padding-right: 25px;
    padding-left: 25px;
}
.vid-container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 60px;
    margin-top: 80px;
}
.clients p{
    font-size: 40px;
    color: #003F4F; 
    font-weight: 500;
    text-align: center;
}
.vid-review-author{
  font-size: 20px;
  color: #003F4F;
  font-weight: 700;
  margin: 0;
}
.vid-review-company{
  font-size: 16px;
  color: #003F4F;
}
.clients{
  margin-bottom: 60px;
}
.vid-metrics{
  margin-top: 10px;
}
.vid-metrics-row{
    display: flex;
    justify-content: center;
    text-align: center; 
}
.vid-metrics-col{
  width: 50%;
}

.vid-metrics-number{
    font-size: 35px;
    font-weight: 700;
    color: #000;
}
.vid-metrics-leyend{    
    font-size: 16px;  
    color: #000;
}
@media screen and (max-width: 992px) {

  .vid-row{
    flex-direction: column;
  }
  .vid-col{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 60px;
  }

  .vid-header{
    text-align: center;
  }
  .clients {
      margin-bottom: 30px;
  }

}
.progressbarMobile{
  display: none; 
}
.steptext{

  margin-top: 60px;
  color: #E4FCFF;
  text-align: center;
  margin-bottom: 50px;
  font-family: Poppins,sans-serif;
}
@media screen and (max-width: 730px) {
.progress-bold{
  font-weight: 700;
}
.progress-line{
    border-left: 2px solid #E4FCFF;
    height: 200px;
    display: block;
    position: absolute;
    left: 18.3%;
    top: 90px;
    z-index: -1;
}
.step-circle{
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    color: #003F4F;
    background: #E4FCFF;
    border-radius: 25px;
    margin: auto;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    justify-content: center;
}
.steptext{
  margin-bottom: 0px;
}
.progressbarMobile{  
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.progress-row{
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  align-items: center;
  z-index: 1;
}
.progress-step{
  width: 33%;
  text-align: center;
}
.progress-text {
    width: 67%;
    line-height: 25px;
    font-size: 17px;
    color: #E4FCFF;
}
.progressbarDesktop{
    display: none; 
}
.vid-container{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
  }
  .vid-review-author{
    font-size: 18px;
  }

  .vid-metrics-number{
    font-size: 32px;
  }
  .vid-col{    
    margin-bottom: 60px;
  }
  .clients p{
    font-size: 20px;
    line-height: 30px; 
    padding-left: 20px;
    padding-right: 20px;
  }
 
}




.header {
  overflow: hidden;
  background-color: #0092b7;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

@media screen and (max-width: 992px) {
 .whybook{
  padding-bottom: 0;
}
  .book_tcont{
    --bs-gutter-x: none;
    --bs-gutter-y: none;
     margin-left: 0;
     padding: 48px;
     padding-top: 20px;
     margin-left: auto;
      margin-right: auto;
      max-width: 500px;
  }


  .leoimagen{
    margin-left: auto;
    margin-right: auto;
  }
}  
@media screen and (max-width: 730px) {

  .booklisttitle{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.43px;
    color: #D7FE34;
  }
    .booktitle{
    margin-top: 0;
    font-size: 20px;
    line-height: 10px;
  }

}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  display: flex;
  justify-content: space-around;
}
.grid-text{
  font-size: 20px;
  text-align: center;
  color: #003F4F;
}

.wrapper img{
  display: flex;
  justify-content: center;
}
.screen {
	display: block;
	width: 300px;
	height: 350px;
	overflow: hidden;
	position: relative;
	border: 2px solid #b3b3b3;
	border-radius: 1px;
	margin: 0 auto;
}
.screen img {
	bottom: -480px;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:0;
  padding:0;
	-webkit-transition: top 11s;
	-moz-transition: top 11s;
	-ms-transition: top 11s;
	-o-transition: top 11s;
	transition: bottom 11s;
}
.screen:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
}

.wrap2{
  display: grid;
  grid-template-columns: auto auto;
}


.buttons{
  display: flex;
  justify-content: space-around;
}

.button1{
  color:#20290B;
  background-color: #D7FE34;
}

.button2{
  color:#20290B;
  background-color: #fff;
}



#showTerms {
  background-color: transparent;
  border-color: transparent;
  font-size: 0.9em;
  color: #003F4F;
  text-decoration: underline;
}

#showTerms :hover {

  color: #003f4f8b;
  text-decoration: underline;
}

.headerdesk {
  overflow: hidden;
  padding: 20px 10px;
  vertical-align: center;
  position: sticky;
}

.headerdesk a {
  float: left;
  color: #003F4F;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
}

.klaviyo_form_trigger {
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  font-size: 16px;
}

.klaviyo_form_trigger:hover {
  background-color: transparent;
}



.phone-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(179.7deg, #0092B7 35.73%, #00EDF5 142.11%);
  ;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(179.7deg, #0092B7 35.73%, #00EDF5 142.11%);
}
 

#talkcontain{

  background: linear-gradient(104.81deg, #0092B7 46.96%, #00EDF5 100%);
}

#talkco_title{
  margin-top: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
 

  text-align: center;

  color: #FFFFFF;
}


#talkco_p{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  
  color: #FFFFFF;
  
}

#talkco_remark{

  font-weight: 700;


}

#buttoncol{

  margin-bottom: 120px;
}


#talkbook_btn{
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  background-color: #D7FE34;
  color: #20290B;

  background: #D7FE34;
  box-shadow: 0px 4px 4px rgba(0, 237, 245, 0.15);
  width: 212px;
  height: 49px;
  border: none;
  margin-right: 30px;
}

#proposal_btn{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  color: #202020;

  width: 213px;
  height: 49px;
  border: none;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 237, 245, 0.15);
}

#talkcontain2{

  background: #0092B7;
}


#talkco_title2{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
  
}
.talkbook_btn_text{
  color: #003F4F;
  text-decoration-line: none;
}
.custom-row{
    display: flex;
    align-items: center;
}
.custom-col{
  width: 50%;  
  min-height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.custom-col-light-bg{
  background:#00DFE7;
}
.custom-col-blue-bg{
  background: #00A5C4;
}
.custom-col-text{
  max-width: 550px;  
  text-align: left;
  margin: 0 60px;
}   
.custom-icon-box
{
  width: 100%;
}


.img-custom{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}


.custom_title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  margin-bottom: 40px;
  color: #003F4F;
  margin-top: 10px;
}
.custom_p1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #003F4F

}

.custom_p2{
  font-family: 'Code Saver';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #003F4F

}
.custom-icon-box img{
  max-width: 64px;
}
.custom-row-reverse{
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
.custom-icon-box img{
  max-width: 40px;
}
.custom_title{
  font-size: 24px;
  line-height: 43px;
  margin-bottom: 10px;
}
.custom_p1{
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}

.custom_p2{
  font-size: 18px;
  line-height: 21px;
  color: #003F4F

}  
custom-col-text { 
    margin: 0 40px;
}

.custom-row{
  flex-direction: column;
}
.custom-col{
  width: 100%;
  min-height: 440px;
}

  #talkco_title{
    
    
    font-size: 40px;
    line-height: 60px
  }

  #talkco_p{

  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 50px;
  
    
  }

  #talkbook_btn{
  
    min-width: 158px;
    height: 38px;    
    border: 1px solid #D7FE34;
    filter: drop-shadow(0px 4px 4px rgba(0, 237, 245, 0.15));

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-left: 35px;
    color: #003F4F;
    
  }

  #proposal_btn{
    min-width: 158px;
    height: 38px;
    left: 128px;
    top: 4470px;

    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 237, 245, 0.15));
    background: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-left: 4px;
    margin-top: 30px;
    color: #FFFFFF;
    
  }

  #talkco_title2{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* identical to box height */
  
    text-align: center;
  
    color: #FFFFFF;
    
  }

}




#imgdisco2back{
  background: #00A5C4;
 
}

#custom2_title{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */


  color: #003F4F;
}

#custom2_p1{



font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 119.5%;
/* or 26px */


color: #003F4F;
margin-bottom: 20px;
}

#custom2_p2{

  font-family: 'Code Saver';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 119.5%;
  /* or 26px */


  color: #003F4F
}

#imgdisco2{

  margin-top: 120px;
  margin-right: 22px;
  margin-bottom: 20px;
}

#custom2rcont{


}

#imgdisco3{
  margin-top: 120px;
  width: 600px;
  margin-bottom: 20px;
}
.swal2-title{
    font-family: 'Poppins';
    color: #003F4F !important;
    font-size: 22px !important;
    text-align: center !important;
    padding-top: 80px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 30px !important;
}
.swal2-styled.swal2-confirm{
  background-color: #003F4F !important;
  color: #FFF !important;
   min-width: 200px;
}
.swal2-actions:not(.swal2-loading) .swal2-styled:hover{
  background-image: none !important;
}
.swal2-styled.swal2-confirm:focus{
  box-shadow: none !important;
}

.book_tcont{
   --bs-gutter-x: none;
    --bs-gutter-y: none;
}
.mobile-bottom-button{
  display: none;
}
@media screen and (max-width: 730px)
{
  .mobile-bottom-button {    
      bottom: 0;
      position: fixed;      
      align-items: center;
      background: #004B5F;    
      color: white;
      display: flex;
      height: auto;
      font-family: 'Poppins',Arial, sans;
      font-size: 20px;
      justify-content: center;
      padding: 15px;
      right: 0;
      text-align: center;    
      width: 100%;
      z-index: 1;
      font-weight: 700;
      text-decoration: none;
  }
  .mobile-bottom-button:hover{
    color: white;
  }

}

.reviews{
  min-height: 470px;
  width: 100%;
  background: #E4FCFF;
  padding: 45px 80px;
  margin-top: 30px;
}
.reviews-header{  
  color: #003F4F;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}
.swiper-slide{
  background:#D8FBFF;
  padding: 25px 45px;
  border-radius: 41px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mySwiper{
  width: 100%;
  height: 350px;
  margin-top: 100px;
  z-index: 0 !important;
  max-width: 1380px;
}
.review-desc{
  padding-top: 15px;
    font-size: 17px;
    line-height: 25px;
    color: #202020;
    font-family: 'Poppins';
    font-weight: 400;
}
.review-author-row{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.review-author-col-left{
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-author
{
  color: #003F4F;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.review-company
{
  color: #003F4F;
  font-size: 20px;  
  line-height: 30px;
}

@media screen and (max-width: 960px)
{
  .reviews{
    margin-top: 0;
    padding: 45px 20px;
  }
  .reviews-header {  
    font-size: 23px;
    line-height: 30px;
    text-align: center;
  }
  .reviews-title{
    padding-top: 15px;
  }
  .mySwiper{
   height: 300px;
    margin-top: 60px;  
  }
  .review-author,.review-company,.review-desc{
    font-size: 14px;
    line-height: 18px;
  }
}